:root {
    --text-color: #9370DB;
  }

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background: white;
}

.main {
    height: 100vh;
    line-height: 0.95;
    width: 75vw;
    display: flex;
    color: white;
    float: right;
    justify-content: center;
}

.sidebar {
    position: absolute;
    padding: 50px;
}

.name {
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color);
    font-weight: bolder;
    font-size: 6em;
    letter-spacing: .1rem;
}

.primary {
    color: var(--text-color);
    -webkit-text-stroke-width: 0px;
}

.links {
    color: var(--text-color);
    font-size: 2em;
    font-weight: bold;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start
}

.img {
  height: 300px;
  width: 200px;
  background: lightgray;
  margin: 10px;
}

.links a {
    color: inherit;
    margin: .1rem;
    text-decoration: underline;
}

.links a:hover {
    background: var(--text-color);
    color: white;
}