:root {
    --text-color: #9370DB;
  }

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.main {
    height: 100vh;
    line-height: 0.95;
    width: 75vw;
    display: flex;
    color: white;
    float: right;
    justify-content: center;
}

.sidebar {
    position: absolute;
    padding: 50px;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.img {
  height: 300px;
  width: 200px;
  margin: 10px;
}