* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.main {
    line-height: 0.95;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.head {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head h1 {
    margin: 0;
    padding: 0;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.img {
  height: 300px;
  width: 200px;
  margin: 10px;
}

@media only screen and (max-width: 700px) {
    .sidebar {
        display: none;
    }
    
    .main {
        width: 100%;
    }
    
    .main .pictures {
        justify-content: center;
    }
}